// Here you can add other styles
a {
    color: #ff4081;
    font-weight: 500;
}

a:hover {
    color: #ff4081;
}

.c-dark-theme {
    color: #e1e1e1;
    background-color: #0a0b18;
    --color: #e1e1e1;
}